# Network Chain Id

REACT_APP_ChainId=11155111

# contract address for NFT Minting Contract
REACT_APP_NFTMinting=0xaafe58f7419327bfde42ef7419fadea5d53fc017 

REACT_APP_HUGGINGFACE_API_KEY=

REACT_APP_WALLETCONECT_PROJECTID=

REACT_APP_SEPOLIA_API_KEY=

REACT_APP_POLYGON_MAINNET_API_KEY=

REACT_APP_MAINNET_API_KEY=

 